[access]
	inheritFrom = Private-Projects
[submit]
[project]
	description = A basic communication between kernel and user via netlink
[access "refs/*"]
	owner = group user/Ilies CHERGUI (ichergui)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ilies CHERGUI (ichergui)
	label-Verified = -1..+1 group user/Ilies CHERGUI (ichergui)
	push = group user/Ilies CHERGUI (ichergui)
	read = group user/Ilies CHERGUI (ichergui)
	rebase = group user/Ilies CHERGUI (ichergui)
	removeReviewer = group user/Ilies CHERGUI (ichergui)
	submit = group user/Ilies CHERGUI (ichergui)
[access "refs/heads/*"]
	create = group user/Ilies CHERGUI (ichergui)
	push = +force group user/Ilies CHERGUI (ichergui)
	pushMerge = group user/Ilies CHERGUI (ichergui)
	read = group user/Ilies CHERGUI (ichergui)
[access "refs/tags/*"]
	push = group user/Ilies CHERGUI (ichergui)
	push = +force group user/Ilies CHERGUI (ichergui)
